
germination_trials/fake_germ_models
germination_trials/nonlinearmodel/.DS_Store
germination_trials/input/.Rhistory
germination_trials/.Rhistory
germination_trials/.Rhistory
germination_trials/.Rhistory
germination_trials/.Rhistory
*.rds
